.contacts{
    font-family: 'Times New Roman', Times, serif;
 
}

.one{
    font-family: 'Times New Roman', Times, serif;
}

.two{
    font-family: 'Times New Roman', Times, serif;
}

.three{
    font-family: 'Times New Roman', Times, serif;
}

.four{
    font-family: 'Times New Roman', Times, serif;
}

.contacts-wrapper {
    position: relative; /* Ensures the .hello is positioned relative to this container */
}


.hello{
    position: absolute;
    height: 150px;
    width: 350px;
    background-color:yellow;
    display: none;
    z-index: 2;
    border-radius: 20px;
    padding-right: 20px ;
    padding-left: 100px ;
}

.contacts:hover + .hello {
    display: block;
}


.hello1{
    position: absolute;
    /* display: none; */
    padding: 20%;
    color:white;
    
}

.hello2{
    height: 500px;
    width: 500px;
    margin-left: 470px;
    opacity: 0.8;
    border-radius: 20px;
    display: none;
}


.but{
    margin-top: 80%;
    margin-left: 40%;
    padding-right: 30px;
    padding-left: 30px;
}